@using FinalShopOnline.Models
@{
    var db = new ShopOnlineDb();
    var products = db.Products
        .Where(x => x.Status == "ACTIVE" && x.DisplayPosition == "SAN PHAM NOI BAT")
        .OrderBy(x => x.SortOrder).ToList();
}

<div class="widget box">
    <h4>Sản Phẩm Nổi Bật</h4>
    <marquee style="height: 220px" direction="up" scrolldelay="20" scrollamount="3" onmouseout="this.start()" onmouseover="this.stop()">
        <ul class="product-list-widget">


            @foreach (var product in products)
            {
                <li>
                    <div class="product-image">
                        <a href="@Url.Action("Details", "Product", new {Id = product.Id})">
                            @if (string.IsNullOrEmpty(product.ImageUrl) == false)
                            {
                                <img src="@Url.Content(product.ImageUrl)" alt="images">
                            }
                        </a>
                    </div>
                    <div class="product-content">
                        <h6 class="product-title"><a href="@Url.Action("Details", "Product", new {Id = product.Id})">@product.Name</a></h6>
                        <p class="product-price">@product.Price.ToString("N0")<sup>đ</sup></p>
                    </div>
                </li>
            }

        </ul>

        </marquee>
</div>