
@using PagedList.Mvc
@model PagedList.IPagedList<FinalShopOnline.Models.Product>

@{
    ViewBag.Title = "Sản phẩm nổi bật";
}

<div class="page-title-container">
    <div class="parallax has-caption parallax-image2">
        <div class="overlay v1"></div>
        <div class="page-title">
            <div class="container">
            </div>
        </div>
    </div>
</div>

<section id="content">
    <div class="container">
        <div class="top-name">
            <div class="row">
                <div class="col-md-12">
                    <div class="link-right">
                        <ol class="breadcrumb">
                            <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                            <li><a>Sản phẩm</a></li>
                            <li><a>Sản phẩm nổi bật</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!--Side bar-->
            @Html.Partial("_MenuPartial")
            <div id="main" class="col-sm-8 col-md-9">
                <div class="view-switcher v1">
                    <a href="@Url.Action("SanphamnoibatGrid", "Product")" class="btn btn-sm style4 toggle-grid active"><i class="fa fa-th-large"></i></a>
                    <a href="@Url.Action("SanphamnoibatList", "Product")" class="btn btn-sm style4 toggle-list"><i class="fa fa-bars"></i></a>
                </div>

                <ul class="products row add-clearfix">
                    @foreach (var product in Model)
                    {
                        <li class="product col-sms-6 col-sm-6 col-lg-4 box">
                            <div class="product-thumbnail-outer">
                                <div class="product-thumbnail-outer-inner style-v1">
                                    <div class="product">
                                        <a href="@Url.Action("Details", "Product", new {Id = product.Id})" class="product-image">
                                            <div class="first-img">
                                                @if (string.IsNullOrEmpty(product.ImageUrl) == false)
                                                {
                                                    <img src="@Url.Content(product.ImageUrl)" alt="images">
                                                }
                                            </div>
                                        </a>
                                        <div class="product-content">
                                            <h4 class="product-title"><a href="@Url.Action("Details", "Product", new { Id = product.Id })">@product.Name</a></h4>
                                            @if (product.Discount > 0)
                                            {
                                                <p class="product-price" style="text-decoration: line-through"> @product.Price.ToString("N0")<sup>đ</sup></p>
                                                <p class="product-price" style="font-weight: bold">  @((product.Price * (100 - product.Discount) / 100).ToString("N0"))<sup>đ</sup></p>
                                            }
                                            else
                                            {
                                                <p class="product-price">@product.Price.ToString("N0")<sup>đ</sup></p>
                                            }
                                        </div>
                                        <div class="product-action">
                                            <div class="box bg-2">
                                                @using (Html.BeginForm("AddToCart", "ShoppingCart"))
                                                {
                                                    @Html.Hidden("ProductId", product.Id)
                                                    @Html.Hidden("Quantity", "1", new { style = "width: 80px", @class = "form-control" })
                                                }
                                                <button onclick="AddToCart(@product.Id, '@product.Name')" type="submit" class="button button--isi button--border-thin button--size-s button--round-s shopping"><p>Đặt hàng</p></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                </ul>

                <!-- Bat dau phan trang-->
                <div class="post-pagination">
                    <div class="page-links">
                        @Html.PagedListPager(Model, page => Url.Action("SanphamnoibatGrid", new { page }))
                    </div>

                </div>
                <!-- Ket thuc phan trang-->
            </div>
        </div>
    </div>
</section>










