
@model FinalShopOnline.Models.Product

@{
    ViewBag.Title = "UploadProductDescription";
}
<div class="page-title-container">
    <div class="parallax has-caption parallax-image2">
        <div class="overlay v1"></div>
        <div class="page-title">
            <div class="container">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="flat-divider d30px"></div>
</div>
<h2>Nhập Thông Tin Miêu Tả Sản Phẩm</h2>

@using (Html.BeginForm())
{
    @Html.Hidden("Code", Model.Code)
    @Html.Hidden("DisplayPosition", Model.DisplayPosition)
    @Html.Hidden("ImageUrl", Model.ImageUrl)
    @Html.Hidden("Name", Model.Name)
    @Html.Hidden("Status", Model.Status)
    @Html.Hidden("Unit", Model.Unit)
    @Html.Hidden("SortOrder", Model.SortOrder)
    @Html.Hidden("Price", Model.Price)
    @Html.Hidden("Discount", Model.Discount)
    @Html.Hidden("Stock", Model.Stock)
    @Html.Hidden("CategoryId", Model.CategoryId)
    @Html.Hidden("Notes", Model.Notes)
    @Html.AntiForgeryToken()

    <div class="form-horizontal col-md-10">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2", style="margin-bottom: 15px;" })
            <div class="col-md-offset-2 col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>

        </div>
        <div>
            <p>@Html.ActionLink("Trở về", "Index")</p>
        </div>
    </div>
}
<div class="row">
    <div class="flat-divider d40px"></div>
</div>



@section scripts {
<script src="~/Scripts/summernote/summernote.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('#Description').summernote({
                onImageUpload: function (files, editor, welEditable) {
                    // upload image to server and create imgNode...
                    sendFile(files[0], editor, welEditable);
                }
            });
        });

        function sendFile(file, editor, welEditable) {
            var data = new FormData();
            data.append("file", file);
            $.ajax({
                data: data,
                type: "POST",
                url: '@Url.Action("SummernoteUploadImage", "ManageProducts")',
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    console.log(data);
                    editor.insertImage(welEditable, data.Url);
                }
            });
        }

        var edit = function () {
            $('.click2edit').summernote({ focus: true });
        };

        var save = function () {
            var aHTML = $('.click2edit').code(); //save HTML If you need(aHTML: array).
            $('.click2edit').destroy();
        };
    </script>
}
<link href="~/Content/summernote/summernote.css" rel="stylesheet" type="text/css" />
<link href="~/Content/summernote/summernote-bs3.css" rel="stylesheet" type="text/css" />

<style>
    .note-editor {
        display: inline-block;
    }
</style>
